<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="normalize1.css" type="text/css" />
</head>

<body>
    <div class="container">
        <header>
            <img src="https://img.icons8.com/office/48/000000/magical-scroll.png" alt="scroll" align="center" />
            &nbsp;Bo & Kahee's Code Journal
        </header>
        <div>
            <nav class="menu">
                <ul>
                    <li><a href="/index">Welcome</a></li>
                    <li><a href="/journal">Journal</a></li>
                    <li><a href="/project1">Project_1</a></li>
                    <li><a href="/activity">Activity</a></li>
                </ul>
            </nav>
            <main>
                <section id="declare">
                    Activity Announcement Board
                    <br />
                    <br />
                    <p>Recent Activities:</p>
                    <p>TD Hackathon (Sept 21-23)</p>
                    <p>Block-Chain Hackathon (Sept 29-30)</p>
                    <br>
                    <p>Up Coming Activities</p>
                    <p>Group regular weekly meeting </p>
                </section>
            </main>
        </div>
        <footer>
            <p> &copy; 2018 Kahee Hong & Bo Dai</p>
        </footer>
    </div>
</body>

</html>