<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="normalize1.css" type="text/css" />
</head>

<body>
    <div class="container">
        <header>
            <img src="https://img.icons8.com/office/48/000000/magical-scroll.png" alt="scroll" align="center" />
            &nbsp;Bo & Kahee's Code Journal
        </header>
        <div>
            <nav class="menu">
                <ul>
                    <li><a href="/index">Welcome</a></li>
                    <li><a href="/journal">Journal</a></li>
                    <li><a href="/project1">Project_1</a></li>
                    <li><a href="/activity">Activity</a></li>
                </ul>
            </nav>
            <main>
                <section id="declare">
                    Journal webpage
                    <span>Don't just dream it&nbsp;!&nbsp; &nbsp;Just code it&nbsp;!</span>
                </section>
                <section id="codecatcher">
                    <br>
                    <span>Our Team:&nbsp;&nbsp;</span>
                    <span class="animated bounceInDown">CodeCatcher</span>
                    <br>
                    <span>Our Member:&nbsp;&nbsp;</span>
                    <span class="animated bounceInDown">Bo Dai,&nbsp;Kahee Hong</span>
                    <br>
                    <span>Our Mission:&nbsp;&nbsp;</span>
                    <span class="animated bounceInDown">This website is to record and
                        represent our teamwork progress as programmers.</span>
                    <br>
                    <span>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</span>
                    <span class="animated bounceInDown">
                        The platform displays our team's initiatives and achievements.</span>
                </section>
            </main>
        </div>

        <footer>
            <p> &copy; 2018 Kahee Hong & Bo Dai</p>
        </footer>
    </div>
</body>

</html>