<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="normalize1.css" type="text/css" />
</head>

<body>
    <div class="container">
        <header>
            <img src="https://img.icons8.com/office/48/000000/magical-scroll.png" alt="scroll" align="center" />
            &nbsp;Bo & Kahee's Code Journal
        </header>
        <div>
            <nav class="menu">
                <ul>
                    <li><a href="/index">Welcome</a></li>
                    <li><a href="/journal">Journal</a></li>
                    <li><a href="/project1">Project_1</a></li>
                    <li><a href="/activity">Activity</a></li>

                </ul>
            </nav>
            <main>
                <section id="declare">
                    Journal webpage
                    <br />
                </section>
                <div id="portfolio">
                    <section class="clearfix">
                        <div class="g1">
                            <div class="image">
                                <img src="img/TD_Hackathon1.jpeg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="img/TD_Hackathon1.jpeg" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="img/TD_Hackathon2.jpeg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="img/TD_Hackathon2.jpeg" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </main>
        </div>
        <footer>
            <p> &copy; 2018 Kahee Hong & Bo Dai</p>
        </footer>
    </div>
</body>

</html>